.title {
    /* margin-bottom: 400px; */
    top: 0%;
    position: absolute;
    text-align: center;
    color: white;/* 
    margin-left: 34%; */
    left: 25%;
    margin-bottom: -100px;
    font-family: 'Montserrat', sans-serif;
}

.field {
    /* position: fixed; */
    margin-top: 400px;
    /* margin-left: 289px; */
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgba(50, 247, 11, 0.4); */
    outline: none;
    /* width: 400px; */
}


.textfield {
    font-family: 'Montserrat', sans-serif;
    
    background-color: rgba(231, 243, 229, 0.925);
    width: 700px;
    color: white;
}

 input {
    /* color: white; */
    font-family: 'Montserrat', sans-serif;
}
 

